<!DOCTYPE html>
<html lang="en">
    <%- include('../inclueds/head.ejs'); %>

<body>

<div class="preloader">
<div class="preloader-inner">
<div class="preloader-icon">
<span></span>
<span></span>
</div>
</div>
</div>

<%- include('../inclueds/adminNavbar.ejs'); %>



<div class="breadcrumbs">
<div class="container">
<div class="row">
<div class="col-12">
<div class="bread-inner">
<ul class="bread-list">
<li><a href="index.html">Home<i class="ti-arrow-right"></i></a></li>
<li class="active"><a href="#">Add Product</a></li>
</ul>
</div>
</div>
</div>
</div>
</div>


<section class="shop section">
<div class="container">
<div class="row">
    
<div class="col-lg-3 mb-4">
<div class="account-sidebar">
<div class="sidebar-list">
<a href="/admin" class="active"><i class="far fa-th-large"></i> Dashboard</a>
<a href="/admin/product"><i class="far fa-layer-group"></i> Products <span>20</span></a>
<a href="/admin/addProduct"><i class="far fa-upload"></i> Add New Product</a>
<a href="/admin/category"><i class="far fa-upload"></i> Add New Catagory</a>
<a href="/admin/viewType"><i class="far fa-upload"></i> Add New ViewType</a>
<a href="all-order.html"><i class="far fa-shopping-bag"></i> All Orders <span>2</span></a>
<a href="/admin/user"><i class="fa fa-user-o"></i>Users</a>
<a href="#"><i class="far fa-lock"></i> Logout</a>
</div>
</div>
</div>
<div class="col-lg-9">
<div class="account-content bg-white pt-0">
<h4 class="account-content-title"><i class="far fa-layer-group"></i> Add Product</h4>
<div class="edit-profile">
<form   action="/admin/addProduct"  method="post"  id="productSubmission"   enctype="multipart/form-data">
<div class="row">
<div class="col-lg-6">
<div class="mb-3">
<label for="name" class="form-label">Name</label>
 <input type="text" class="form-control"    name="Name" id="name">
</div>
<p class="text-danger" id="nameError"></p>
</div>

<div class="col-lg-6">
<div class="mb-3">
<label for="category" class="form-label">Category</label>
<select name="Category" class="form-control"    id="category">
<option value="<%=CATEGORY.category %>"  >Select Category</option>
<% CATEGORY.forEach(CATEGORY => { %>
<option value="<%=CATEGORY.category %>"  ><%-CATEGORY.category %></option>
<% }) %>
</select>
</div>
<p class="text-danger" id="categoryError"></p>
</div>

<div class="col-lg-6">
<div class="mb-3">
<label for="stock" class="form-label">Stock</label>
<input type="number" class="form-control" name="Stock"  id="stock">
</div>
<p class="text-danger" id="stockError"></p>
</div>
<div class="col-lg-6">
<div class="mb-3">
<label for="tags" class="form-label">Brand</label>
<input type="text" class="form-control"  name="Brand"    id="Brand">
</div>
<p class="text-danger" id="BrandError"></p>
</div>
<div class="col-lg-6">
<div class="mb-3">
<label for="price" class="form-label">Price</label>
<input type="number" class="form-control" name="Price"     id="price">
</div>
<p class="text-danger" id="priceError"></p>
</div>
<div class="col-lg-6">
<div class="mb-3">
<label for="price" class="form-label">Discount Price</label>
<input type="number" class="form-control" name="Discount"    id="DiscountPrice">
</div>
<p class="text-danger" id="DiscountPriceError"></p>
</div>
<div class="col-lg-6">
<div class="mb-3">
<label for="moreimage" class="form-label">More Image</label>
<input type="file" id="moreimage"  multiple  name="image"  onchange="return fileValidation()">
</div>
<p class="text-danger" id="imageError"></p>
</div>
<div class="col-lg-12">
<div class="mb-3">
<label for="description" class="form-label">Description</label>
<textarea class="form-control" name="Discription"  id="description"    rows="6"></textarea>
</div>
<p class="text-danger" id="descriptionError"></p>
</div>
</div>
<button class="btn" type="submit">Save Product</button>
 </form>
</div>
</div>
</div>
</div>
</div>
</section>


<%- include('../inclueds/footer.ejs'); %>

<%- include('../inclueds/end.ejs'); %>



<script>
   
   function fileValidation(){
    var fileInput = document.getElementById('moreimage');
    var filePath = fileInput.value;
    var allowedExtensions = /(\.jpg|\.jpeg|\.png|\.gif)$/i;
    if(!allowedExtensions.exec(filePath)){
        // imageError
        document.getElementById('imageError').innerHTML = "Please upload file having extensions .jpeg/.jpg/.png/.gif only"
        fileInput.value = '';
        return false;
    }else{
        //Image preview
        if (fileInput.files && fileInput.files[0]) {
            var reader = new FileReader();
            reader.onload = function(e) {
                document.getElementById('imageError').innerHTML = ""
                document.getElementById('imagePreview').innerHTML = '<img src="'+e.target.result+'"/>';
            };
            reader.readAsDataURL(fileInput.files[0]);
        }
    }
}

</script>


<!-- 

<script>
    $("#productSubmission").submit((e) => {
    e.preventDefault()

    let name = document.getElementById('name').value
    console.log(name);
    let price = document.getElementById('price').value
    console.log(price);
    let DiscountPrice = document.getElementById('DiscountPrice').value
    console.log(DiscountPrice);
    let stock = document.getElementById('stock').value
    console.log(stock);
    let image = document.getElementById('moreimage').value
    console.log(image);
    let description = document.getElementById('description').value
    console.log(description);
    let category = document.getElementById('category').value
    console.log(category);
    let Brand = document.getElementById('Brand').value
    console.log(Brand);
    
    let flag = 0
    
    if (name.length >= 1) {
    document.getElementById('nameError').innerHTML = ""
    //console.log("everything is ok")
    flag++
    } else {
    // console.log('password max length')
    document.getElementById('nameError').innerHTML = "Pleace Enter a Data"
    flag = 0
    }

    if (price.length >= 1) {
    document.getElementById('nameError').innerHTML = ""
    //console.log("everything is ok")
    flag++
    } else {
    // console.log('password max length')
    document.getElementById('nameError').innerHTML = "Pleace Enter a Data"
    flag = 0
    }

    if (DiscountPrice.length >= 1) {
    document.getElementById('nameError').innerHTML = ""
    //console.log("everything is ok")
    flag++
    } else {
    // console.log('password max length')
    document.getElementById('nameError').innerHTML = "Pleace Enter a Data"
    flag = 0
    }

    if (stock.length >= 1) {
    document.getElementById('nameError').innerHTML = ""
    //console.log("everything is ok")
    flag++
    } else {
    // console.log('password max length')
    document.getElementById('nameError').innerHTML = "Pleace Enter a Data"
    flag = 0
    }

    console.log(image.length);
    if (image.length >= 1) {
    document.getElementById('nameError').innerHTML = ""
    //console.log("everything is ok")
    flag++
    } else {
    // console.log('password max length')
    document.getElementById('nameError').innerHTML = "Pleace Enter a Data"
    flag = 0
    }

    if (description.length >= 1) {
    document.getElementById('nameError').innerHTML = ""
    //console.log("everything is ok")
    flag++
    } else {
    // console.log('password max length')
    document.getElementById('nameError').innerHTML = "Pleace Enter a Data"
    flag = 0
    }

    if (category.length >= 1) {
    document.getElementById('nameError').innerHTML = ""
    //console.log("everything is ok")
    flag++
    } else {
    // console.log('password max length')
    document.getElementById('nameError').innerHTML = "Pleace Enter a Data"
    flag = 0
    }

    if (Brand.length >= 1) {
    document.getElementById('nameError').innerHTML = ""
    //console.log("everything is ok")
    flag++
    } else {
    // console.log('password max length')
    document.getElementById('nameError').innerHTML = "Pleace Enter a Data"
    flag = 0
    }
    console.log(flag);
    
    if (flag == 8) {
        $.ajax({
            url: '/admin/addProduct',
            method: 'post',
            data: $("#productSubmission").serialize(),
            success: (response) => {
                console.log(response);
                if (response.status) {
                    location.href = '/admin/product'
                }
            }
        })
    }
        })
    </script>
     -->

</body>
</html>