<!DOCTYPE html>
<html lang="en">

<%- include('../inclueds/head.ejs'); %>

<body>

<%- include('../inclueds/head.ejs'); %>

<div class="breadcrumbs">
<div class="container">
<div class="row">
<div class="col-12">
<div class="bread-inner">
<ul class="bread-list">
    <li><a href="/admin">Admin<i class="ti-arrow-right"></i></a></li>
    <li class="active"><a href="#">All Orders</a></li>
</ul>
</div>
</div>
</div>
</div>
</div>


<section class="shop section">
<div class="container">
<div class="row">
<div class="col-lg-3 mb-4">
  <div class="account-sidebar">
    <div class="sidebar-list">
    <a href="/admin" class="active"><i class="far fa-th-large"></i> Dashboard</a>
    <a href="/admin/product"><i class="far fa-layer-group"></i> Products <span>20</span></a>
    <a href="/admin/addProduct"><i class="far fa-upload"></i> Add New Product</a>
    <a href="/admin/category"><i class="far fa-upload"></i> Add New Catgory</a>
    <a href="/admin/viewType"><i class="far fa-upload"></i> Add New ViewType</a>
    <a href="all-order.html"><i class="far fa-shopping-bag"></i> All Orders <span>2</span></a>
    <a href="/admin/user"><i class="far fa-cog"></i>Users </a>
    <a href="#"><i class="far fa-lock"></i> Logout</a>
    </div>
    </div>
</div>
<div class="col-lg-9">
<div class="account-content">
<h4 class="account-content-title"><i class="far fa-shopping-bag"></i> All Orders</h4>
<div class="account-content-table">
<div class="table-responsive">
<table class="table table-borderless pagination"   data-pagecount="3">
<tr>

<th>Order #</th>
<th>Purchased Date</th>
<th>Total</th>
<th>Payment Method</th>
 <th>Status</th>
<th>Action</th>
</tr>
<% orderdetail.forEach(orderdetail => { %>
<tr class="account-order-list">
<td><b>#<%-orderdetail.orders._id %></b></td>
<td><%-orderdetail.orders.orderDate %></td>
<td><%-orderdetail.orders.paymentAmount %></td>
<td><%-orderdetail.orders.paymentMethod %></td>
<td><a href="/admin/paymentStatusChange/<%-orderdetail._id %>/<%-orderdetail.orders._id %>"><span class="badge bg-secondary"><%-orderdetail.orders.orderStatus %></span></a></td>
<td class="text-center"><a href="/admin/adminOrderDetail/<%-orderdetail._id %>/<%-orderdetail.orders._id %>" class="content-action"><i class="far fa-arrow-right"></i></a></td>
</tr>
<% }) %>
</table>
</div>
<div class="col-12">

<div class="pagination center mt-2">
<ul class="pagination-list">
<li><a href="#"><i class="ti-arrow-left"></i></a></li>
<li><a href="#">1</a></li>
<li class="active"><a href="#">2</a></li>
<li><a href="#">3</a></li>
<li><a href="#"><i class="ti-arrow-right"></i></a></li>
</ul>
</div>

</div>
</div>
</div>
</div>
</div>
</div>
</section>


<%- include('../inclueds/footer.ejs'); %>

<%- include('../inclueds/end.ejs'); %>
<!-- <script>
function PaymentStatus(payment,order) {
    $.ajax({
      url: '/paymentstatus',
      data: {
        payment,
        order
      },
      method: 'post',
      success: (response) => {}
    })
}
    </script> -->


    <script>
      var perPage = 20;
      
      function genTables() {
          var tables = document.querySelectorAll(".pagination");
          for (var i = 0; i < tables.length; i++) {
              perPage = parseInt(tables[i].dataset.pagecount);
              createFooters(tables[i]);
              createTableMeta(tables[i]);
              loadTable(tables[i]);
          }
      }
      
      // based on current page, only show the elements in that range
      function loadTable(table) {
          var startIndex = 0;
      
          if (table.querySelector('th'))
              startIndex = 1;
      
        console.log(startIndex);
      
          var start = (parseInt(table.dataset.currentpage) * table.dataset.pagecount) + startIndex;
          var end = start + parseInt(table.dataset.pagecount);
          var rows = table.rows;
      
          for (var x = startIndex; x < rows.length; x++) {
              if (x < start || x >= end)
                  rows[x].classList.add("inactive");
              else
                  rows[x].classList.remove("inactive");
          }
      }
      
      function createTableMeta(table) {
          table.dataset.currentpage = "0";
      }
      
      function createFooters(table) {
          var hasHeader = false;
          if (table.querySelector('th'))
              hasHeader = true;
      
          var rows = table.rows.length;
      
          if (hasHeader)
              rows = rows - 1;
      
          var numPages = rows / perPage;
          var pager = document.createElement("div");
      
          // add an extra page, if we're 
          if (numPages % 1 > 0)
              numPages = Math.floor(numPages) + 1;
      
          pager.className = "pager";
          for (var i = 0; i < numPages ; i++) {
              var page = document.createElement("div");
              page.innerHTML = i + 1;
              page.className = "pager-item";
              page.dataset.index = i;
      
              if (i == 0)
                  page.classList.add("selected");
      
              page.addEventListener('click', function() {
                  var parent = this.parentNode;
                  var items = parent.querySelectorAll(".pager-item");
                  for (var x = 0; x < items.length; x++) {
                      items[x].classList.remove("selected");
                  }
                  this.classList.add('selected');
                  table.dataset.currentpage = this.dataset.index;
                  loadTable(table);
              });
              pager.appendChild(page);
          }
      
          // insert page at the top of the table
          table.parentNode.insertBefore(pager, table);
      }
      
      window.addEventListener('load', function() {
          genTables();
      });
      </script>
      
</body>
</html>