<!DOCTYPE html>
<html lang="en">

<%- include('../inclueds/head.ejs'); %>

<body>

<%- include('../inclueds/head.ejs'); %>

<div class="breadcrumbs">
<div class="container">
<div class="row">
<div class="col-12">
<div class="bread-inner">
<ul class="bread-list">
<li><a href="index.html">Home<i class="ti-arrow-right"></i></a></li>
<li class="active"><a href="#">All Orders</a></li>
</ul>
</div>
</div>
</div>
</div>
</div>


<section class="shop section">
<div class="container">
<div class="row">
<div class="col-lg-3 mb-4">
  <div class="account-sidebar">
    <div class="sidebar-list">
    <a href="/admin" class="active"><i class="far fa-th-large"></i> Dashboard</a>
    <a href="/admin/product"><i class="far fa-layer-group"></i> Products <span>20</span></a>
    <a href="/admin/addProduct"><i class="far fa-upload"></i> Add New Product</a>
    <a href="/admin/category"><i class="far fa-upload"></i> Add New Catgory</a>
    <a href="/admin/viewType"><i class="far fa-upload"></i> Add New ViewType</a>
    <a href="all-order.html"><i class="far fa-shopping-bag"></i> All Orders <span>2</span></a>
    <a href="/admin/user"><i class="far fa-cog"></i>Users </a>
    <a href="#"><i class="far fa-lock"></i> Logout</a>
    </div>
    </div>
</div>
<div class="col-lg-9">
<div class="account-content">
<h4 class="account-content-title"><i class="far fa-shopping-bag"></i> All Orders</h4>
<div class="account-content-table">
<div class="table-responsive">
<table class="table table-borderless">
<tr>

<th>Order #</th>
<th>Purchased Date</th>
<th>Total</th>
<th>Payment Method</th>
 <th>Status</th>
<th>Action</th>
</tr>
<% orderdetail.forEach(orderdetail => { %>
<tr class="account-order-list">
<td><b>#<%-orderdetail.orders._id %></b></td>
<td><%-orderdetail.orders.orderDate %></td>
<td><%-orderdetail.orders.paymentAmount %></td>
<td><%-orderdetail.orders.paymentMethod %></td>
<td><a href="/admin/paymentStatusChange/<%-orderdetail._id %>/<%-orderdetail.orders._id %>"><span class="badge bg-secondary"><%-orderdetail.orders.orderStatus %></span></a></td>
<td class="text-center"><a href="/admin/adminOrderDetail/<%-orderdetail._id %>/<%-orderdetail.orders._id %>" class="content-action"><i class="far fa-arrow-right"></i></a></td>
</tr>
<% }) %>
</table>
</div>
<div class="col-12">

<div class="pagination center mt-2">
<ul class="pagination-list">
<li><a href="#"><i class="ti-arrow-left"></i></a></li>
<li><a href="#">1</a></li>
<li class="active"><a href="#">2</a></li>
<li><a href="#">3</a></li>
<li><a href="#"><i class="ti-arrow-right"></i></a></li>
</ul>
</div>

</div>
</div>
</div>
</div>
</div>
</div>
</section>


<%- include('../inclueds/footer.ejs'); %>

<%- include('../inclueds/end.ejs'); %>
<!-- <script>
function PaymentStatus(payment,order) {
    $.ajax({
      url: '/paymentstatus',
      data: {
        payment,
        order
      },
      method: 'post',
      success: (response) => {}
    })
}
    </script> -->
</body>
</html>