<!DOCTYPE html>
<html lang="en">
    <%- include('../inclueds/head.ejs'); %>
<body>

<div class="preloader">
<div class="preloader-inner">
<div class="preloader-icon">
<span></span>
<span></span>
</div>
</div>
</div>

<%- include('../inclueds/adminNavbar.ejs'); %>

<div class="breadcrumbs">
<div class="container">
<div class="row">
<div class="col-12">
<div class="bread-inner">
<ul class="bread-list">
<li><a href="index.html">Home<i class="ti-arrow-right"></i></a></li>
<li class="active"><a href="#">Product List</a></li>
</ul>
</div>
</div>
</div>
</div>
</div>



<section class="shop section">
<div class="container">
<div class="row">
    <div class="col-lg-3 mb-4">
        <div class="account-sidebar">
        <div class="sidebar-list">
        <a href="/admin" class="active"><i class="far fa-th-large"></i> Dashboard</a>
        <a href="/admin/product><i class="far fa-layer-group"></i> Products <span>20</span></a>
        <a href="/admin/addProduct"><i class="far fa-upload"></i> Add New Product</a>
        <a href="/admin/category"><i class="far fa-upload"></i> Add New Category</a>
        <a href="/admin/viewType"><i class="far fa-upload"></i> Add New ViewType</a>
        <a href="all-order.html"><i class="far fa-shopping-bag"></i> All Orders <span>2</span></a>
        <a href="/admin/user"><i class="far fa-cog"></i>Users </a>
        <a href="#"><i class="far fa-lock"></i> Logout</a>
        </div>
        </div>
        </div>
<div class="col-lg-9">
<div class="account-content">
<h4 class="account-content-title"><i class="far fa-map-marker-alt"></i> Products</h4>
<div class="account-content-table">
<div class="table-responsive">
<table class="table table-borderless">
<tr>
<th>Image</th>
<th>Name</th>
<th>Stock</th>
<th>Price</th>
<th>Action</th>
</tr>
<% product.forEach(product => { %>
<tr class="account-order-list">
   
<td class="product-img"><img src="<%=product.moreImage%>" alt=""></td>
<td><div class="product-info"><%-product.Name %></div></td>
<td><div class="product-info"><%-product.Stock %></div></td>
<td><div class="product-info"><%-product.Price %></div></td>
<td>
<div class="product-info">
<a href="/admin/editProduct/<%=product.id %>" class="content-action content-action-mr"><i class="far fa-pen"></i></a>
<a href="/admin/deleteProduct/<%=product.id %>" class="content-action"><i class="far fa-trash"></i></a>
</div>
</td>
</tr>
<% }) %>
</table>
</div>
<div class="col-12">

<div class="pagination center mt-2">
<ul class="pagination-list">
<li><a href="#"><i class="ti-arrow-left"></i></a></li>
<li><a href="#">1</a></li>
<li class="active"><a href="#">2</a></li>
<li><a href="#">3</a></li>
<li><a href="#"><i class="ti-arrow-right"></i></a></li>
</ul>
</div>

</div>
</div>
</div>
</div>
</div>
</div>
</section>


<section class="shop-newsletter py-5">
<div class="container">
<div class="inner-top">
<div class="row">
<div class="col-lg-8 offset-lg-2 col-12">

<div class="inner">
<h4>Newsletter</h4>
<p> Subscribe to our newsletter and get <span>30%</span> off your first purchase</p>
<form action="#" method="get" class="newsletter-inner">
<input name="email" placeholder="Your email address" required="" type="email">
<button class="btn">Subscribe<i class="fal fa-paper-plane"></i></button>
</form>
</div>
</div>
</div>
</div>
</div>
</section>

<%- include('../inclueds/footer.ejs'); %>


<div class="modal" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdrop" aria-hidden="true">
<div class="modal-dialog modal-lg modal-dialog-centered" role="document">
<div class="modal-content">
<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
<div class="modal-body">
<div class="row">
<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
<img src="/img/products/p1.png" alt="#">
</div>
<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
<div class="quickview-content">
<h2>Xbeats Bluetooth Earphones</h2>
<div class="d-flex mb-3">
<span>Brand:</span>
<b>Xbeats</b>
</div>
<div class="d-flex mb-3">
<span>Category:</span>
<b>Headphones</b>
</div>
<div class="d-flex mb-3">
<span>Tated:</span>
<div class="quickview-ratting-review">
<div class="quickview-ratting-wrap">
<div class="quickview-ratting">
<i class="fa fa-star"></i>
<i class="fa fa-star"></i>
<i class="fa fa-star"></i>
<i class="fa fa-star"></i>
<i class="fal fa-star"></i>
<a href="#"> (50)</a>
</div>
</div>
</div>
</div>
<h3>$29.00</h3>
<div class="quickview-stock">
<span><i class="fa fa-check-circle-o"></i> Stock Available</span>
</div>
<div class="add-to-cart">
<a href="#" class="btn">Add to cart</a>
</div>
<div class="default-social">
<h4 class="share-now">Share:</h4>
<ul>
<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
<li><a href="#"><i class="fab fa-twitter"></i></a></li>
<li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
<li><a href="#"><i class="fab fa-instagram"></i></a></li>
<li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
</ul>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>

<%- include('../inclueds/end.ejs'); %>

</body>
</html>