<!DOCTYPE html>
<html lang="en">
    <%- include('../inclueds/head.ejs'); %>
<body>

<div class="preloader">
<div class="preloader-inner">
<div class="preloader-icon">
<span></span>
<span></span>
</div>
</div>
</div>

<%- include('../inclueds/adminNavbar.ejs'); %>

<div class="breadcrumbs">
<div class="container">
<div class="row">
<div class="col-12">
<div class="bread-inner">
<ul class="bread-list">
  <li><a href="/admin">Admin<i class="ti-arrow-right"></i></a></li>
  <li class="active"><a href="#">Sales Report</a></li>
</ul>
</div>
</div>
</div>
</div>
</div>



<section class="shop section">
<div class="container">
<div class="row">
    <div class="col-lg-3 mb-4">
        <div class="account-sidebar">
        <div class="sidebar-list">
        <a href="/admin" class="active"><i class="far fa-th-large"></i> Dashboard</a>
        <a href="/admin/product><i class="far fa-layer-group"></i> Products <span>20</span></a>
        <a href="/admin/addProduct"><i class="far fa-upload"></i> Add New Product</a>
        <a href="/admin/category"><i class="far fa-upload"></i> Add New Category</a>
        <a href="/admin/viewType"><i class="far fa-upload"></i> Add New ViewType</a>
        <a href="all-order.html"><i class="far fa-shopping-bag"></i> All Orders <span>2</span></a>
        <a href="/admin/user"><i class="far fa-cog"></i>Users </a>
        </div>
        </div>
        </div>
<div class="col-lg-9">
<div class="account-content">
<h4 class="account-content-title"><i class="far fa-map-marker-alt"></i>Sales Report</h4>
<button class="btn btn-inverse-warning btn-icon" onclick="printDiv('pdf','Title')" >Print</button>
<div class="account-content-table" id="pdf">
<div class="table-responsive">
<table class="table table-borderless">
<tr>

<th>Date</th>
<th>Toatal Price</th>
<th>Profit</th>
<th>Proggress</th>
<th>Order Count</th>
</tr>
<% salesReport.forEach(salesReport => { %>
<tr class="account-order-list">
<td><div class="product-info"><%-salesReport._id.date %></div></td>
<td><div class="product-info">$<%-salesReport.totalPrice %></div></td>
<td><div class="product-info">$<%-salesReport.profit %></div></td>
<td><div class="product-info">$<%-salesReport.proggress %></div></td>
<td><div class="product-info"><%-salesReport.count %></div></td>
<td>
</td>
</tr>
<% }) %>
</table>
</div>
</div>
</div>
</div>
</div>
</div>
</section>

<%- include('../inclueds/footer.ejs'); %>

<%- include('../inclueds/end.ejs'); %>


<script>
    var doc = new jsPDF();
    function printDiv(divId,
      title) {
      let mywindow = window.open('', 'PRINT', 'height=650,width=900,top=100,left=150');
  
      mywindow.document.write(`<html><head><title>${title}</title>`);
      mywindow.document.write('</head><body >');
      mywindow.document.write(document.getElementById(divId).innerHTML);
      mywindow.document.write('</body></html>');
  
      mywindow.document.close(); // necessary for IE >= 10
      mywindow.focus(); // necessary for IE >= 10*/
  
      mywindow.print();
      mywindow.close();
  
      return true;
    }
  </script>


</body>
</html>