<!DOCTYPE html>
<html lang="en">

    <%- include('../inclueds/head.ejs'); %>

<body>

    <%- include('../inclueds/navbar.ejs'); %>

<div class="breadcrumbs">
<div class="container">
<div class="row">
<div class="col-12">
<div class="bread-inner">
<ul class="bread-list">
<li><a href="/">Home<i class="ti-arrow-right"></i></a></li>
<li class="active"><a href="/cartList">Cart</a></li>
</ul>
</div>
</div>
</div>
</div>
</div>
<div class="shopping-cart section">
<div class="container">
    <% if (dataLength == 0) { %>
        <h1 class="text-danger ms-4 mb-5">Pleace Add Cart</h1>
    <%} else { %>
        <h1 class="text-danger"></h1>
     <% } %> 
<div class="row">
    <% cartData.forEach(cartData => { %>
<div class="col-lg-8">
    <!-- catr ================= -->
<div class="shopping-cart-single">
 <div class="row">
<div class="col-lg-2">
<img src="/img/product/<%-cartData.ProductId.moreImage[0] %>" alt="">
</div>
<div class="col-lg-10 my-auto">
<div class="d-flex justify-content-between cart-title">
<h6><%-cartData.ProductId.Name %></h6>
<a href="/deletecart/<%=cartData.arrayId %>"><i class="fal fa-times"></i></a>
</div>
<div class="d-flex justify-content-between mt-4">
<div class="cart-price my-auto ">
<p>Total <input type="number" name="quant[1]" style="color:#32B87D; font-weight:700; border:none; background-color:#F6F7FB;" ; class="input-number" readonly id="<%=cartData.ProductId.id %>totalAmount" data-min="1" data-max="1000" value="<%=cartData.totalAmount %>"></p>
<p>Price <b><%-cartData.ProductId.Price %></p>

</div>
<div class="row g-0 cart-qty">
<div class="col-auto ">
<a onclick="lessCartquantity('<%=cartData.ProductId.id %>','<%=cartData.ProductId.Price %>')" >
<button class=" cat-qty-btn"><i class="fal fa-minus"></i></button>
</a>
</div>
<div class="col-auto">
<input type="text" name="quant[1]" class="input-number" readonly id="<%=cartData.ProductId.id %>" data-min="1" data-max="1000" value=" <%=cartData.quantity %>">
</div>
<div class="col-auto ">
<a onclick="Cartquantity('<%=cartData.ProductId.id %>','<%=cartData.ProductId.Price %>')" >
<button class=" cat-qty-btn"><i class="fal fa-plus"></i></button>
</a>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<% }) %>


<% if (dataLength == 0) { %>
    <h1 class="text-danger ms-4 mb-5"></h1>
<%} else { %>
    
<div class="col-7 col-md-3">
    <div class="cart-total-amount">
    <form action="/checkout" method="post">
    <ul>
    <li>Shipping<span>Free</span></li>
    <li>Tax<span>$00.00</span></li>
    <li class="last">You Pay<span><input type="number" name="totalBill" style=" background-color:#F6F7FB;   color:#32B87D; font-weight:700;  border:none;" class="input-number"  id="totalBill" data-min="1" readonly data-max="1000" value="<%=cartData.totalBill%>"></span></li>
    </ul>
    <div class="checkout-section">
    <input type="submit" class="btn checkout-btn" value="Continue shopping">
    </div>
    </form>
    </div>
    </div>
<% } %> 
</div>
</div>
</div>
</div>
<%- include('../inclueds/footer.ejs'); %>

<%- include('../inclueds/end.ejs'); %>

</body>
</html>