<!DOCTYPE html>
<html lang="en">
    <%- include('../inclueds/head.ejs'); %>
<body>

<div class="preloader">
<div class="preloader-inner">
<div class="preloader-icon">
<span></span>
<span></span>
</div>
</div>
</div>
<%- include('../inclueds/navbar.ejs'); %>

<div class="breadcrumbs">
<div class="container">
<div class="row">
<div class="col-12">
<div class="bread-inner">
<ul class="bread-list">
<li><a href="index.html">Home<i class="ti-arrow-right"></i></a></li>
<li class="active"><a href="#">Edit Profile</a></li>
</ul>
</div>
</div>
</div>
</div>
</div>


<section class="shop section">
<div class="container">
<div class="row">
<div class="col-lg-3 mb-4">
<div class="account-sidebar">
<h6 class="sidebar-title">DASHBOARD</h6>
<div class="sidebar-list">
<a href="order-list.html" class="active"><i class="far fa-shopping-bag"></i> Orders <span></span></a>
<a href="wishlist.html"><i class="far fa-heart"></i> Wishlist <span>([])</span></a>
</div>
<h6 class="sidebar-title mt-4">PROFILE SETTINGS</h6>
<div class="sidebar-list">
<a href="profile.html"><i class="far fa-user"></i> Profile Info</a>
<a href="address-list.html"><i class="far fa-map-marker-alt"></i> Addresses <span>20</span></a>
</div>
</div>
</div>
<div class="col-lg-9">
<div class="account-content bg-white pt-0">
<h4 class="account-content-title"><i class="far fa-user"></i> Edit Profile</h4>
<div class="edit-profile">
<form action="/editProfile/<%-Profile.id%>" method="post">
<div class="row">
<div class="col-lg-6">
<div class="mb-3">
<label for="fname" class="form-label">First Name</label>
<input type="text" name="Name" class="form-control"   value="<%-Profile.Name %>" id="fname">
</div>
</div>
<div class="col-lg-6">
<div class="mb-3">
<label for="email" class="form-label">Email</label>
<input type="email" name="Email" class="form-control"   value="<%-Profile.Email %>" id="email">
</div>
</div>
<div class="col-lg-6">
<div class="mb-3">
<label for="phone" class="form-label">Phone</label>
<input type="number" name="Phone" class="form-control"   value="<%-Profile.Phone %>" id="phone">
</div>
</div>
</div>
<button class="btn" type="submit">Save Changes</button>
</form>
</div>
</div>
</div>
</div>
</div>
</section>




<%- include('../inclueds/footer.ejs'); %>

<%- include('../inclueds/end.ejs'); %>

</body>
</html>