<!DOCTYPE html>
<html lang="en">
    <%- include('../inclueds/head.ejs'); %>
<body>

<div class="preloader">
<div class="preloader-inner">
<div class="preloader-icon">
<span></span>
<span></span>
</div>
</div>
</div>

<%- include('../inclueds/navbar.ejs'); %>

<section class="hero-slider bg-grey">
<div class="container">
<div class="main-hero-slider owl-carousel owl-theme">
    <% banner_Data.forEach(banner_Data=> { %>
<div class="item">
<div class="single-slider item">
<div class="row">
<div class="col-lg-7 col-md-8 my-auto">
<div class="text-inner">
<div class="hero-text">
<h1><span>UP TO <%-banner_Data.offer %> % OFF </span>For Your First Buy</h1>
<p>There are many variations of passages of lorem ipsum <br> available but the majority have suffered alteration in <br> some form by injected humour.</p>
<div class="button">
<a href="#" class="btn">Shop Now!</a>
</div>
</div>
</div>
</div>
<div class="col-lg-5 col-md-4 my-auto">
<img src="/img/banner/<%-banner_Data.bannerimage %>" class="w-100" alt="">
</div>
</div>
</div>
</div>
<% }); %>
</div>
</div>
</section>
<div class="product-area section">
<div class="container">
<div class="row">
<div class="col-12">
<div class="section-title d-flex justify-content-between align-center">
<div class="d-flex section-title-left">
<i class="flaticon-tags"></i>
<h2>Trending Item</h2>
</div>
<div class="section-title-right">
<a href="#">View More <i class="far fa-long-arrow-right"></i></a>
</div>
</div>
</div>
</div>
<div class="product-slider owl-carousel owl-theme">

    
<!-- card -->
<% product.forEach(product => { %>
<div class="item">
<div class="single-product">
<div class="product-img">
<a href="/shopsingle/<%=product.id %>">
<img class="product-img" src="/img/product/<%-product.moreImage[0] %>" alt="#">
<span class="new">New</span>
</a>
<div class="button-head">
<div class="product-action">
<a data-bs-toggle="modal" data-bs-target="#staticBackdrop" href="/shopsingle/<%=product.id %>"><a href="/shopsingle/<%=product.id %>"><i class="far fa-eye"></i></a><span>Quick Shop</span></a>
<a  onclick="wishList('<%=product.id %>')"><i class="far fa-heart"></i><span>Add to Wishlist</span></a>
</div>
</div>
</div>
<div class="product-content">
<h3><a href="/shopsingle/<%=product.id %>"><%-product.Name %></a></h3>
<div class="d-flex justify-content-between">
<div class="product-price">
<span class="old">$150.00</span>
<span><%-product.Price %></span>
</div>
<button class="product-cart-btn"  type="button"><a onclick="addToCart('<%=product.id %>')"><i class="fal fa-shopping-cart"></i></a></button>
</div>
</div>
</div>
</div>
<% }); %>
</div>
</div>
</div>


<%- include('../inclueds/footer.ejs'); %>

<div class="modal" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdrop" aria-hidden="true">
<div class="modal-dialog modal-lg modal-dialog-centered" role="document">
<div class="modal-content">
<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
<div class="modal-body">
<div class="row">
<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
<img src="/img/products/p1.png" alt="#">
</div>
<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
<div class="quickview-content">
<h2><%-product.Name %></h2>
<div class="d-flex mb-3">
<span>Brand:<%-product.Brand %></span>
<b>Xbeats</b>
</div>

QuickShopData

<div class="d-flex mb-3">
<span>Category:</span>
<b>Headphones</b>
</div>
<div class="d-flex mb-3">
<span>Tated:</span>
<div class="quickview-ratting-review">
<div class="quickview-ratting-wrap">
<div class="quickview-ratting">
<i class="fa fa-star"></i>
<i class="fa fa-star"></i>
<i class="fa fa-star"></i>
<i class="fa fa-star"></i>
<i class="fal fa-star"></i>
<a href="#"> (50)</a>
</div>
</div>
</div>
</div>
<h3>$29.00</h3>
<div class="quickview-stock">
<span><i class="fa fa-check-circle-o"></i> Stock Available</span>
</div>
<div class="add-to-cart">
<a href="#" class="btn">Add to cart</a>
</div>
<div class="default-social">
<h4 class="share-now">Share:</h4>
<ul>
<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
<li><a href="#"><i class="fab fa-twitter"></i></a></li>
<li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
<li><a href="#"><i class="fab fa-instagram"></i></a></li>
<li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
</ul>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>

<%- include('../inclueds/end.ejs'); %>


<script>
  const addToCart  =(productId)=>{
  $.ajax({
   url:'/cart/'+productId,
   method: 'get',
   success:(response)=>{
     if(response.status){
      Swal.fire({
position: 'top-center',
icon: 'success',
title: 'Your work has been saved',
showConfirmButton: false,
timer: 3000
   })
     }else if(response.notUser){  
      Swal.fire({
title: 'Please Login',
showDenyButton: true,
showCancelButton: true,
confirmButtonText: 'Login',
denyButtonText: `Don't Login`,
}).then((result) => {
/* Read more about isConfirmed, isDenied below */
if (result.isConfirmed) {
  Swal.fire('Login', '', 'success')
  location.href = '/login'
} else if (result.isDenied) {
  Swal.fire('Do not Login', '', 'info')
}
})
  }
   } 
  })
  }
</script>






<script>
  const wishList  =(productId)=>{
    console.log('00000000');
  $.ajax({
   url:'/wishList/'+productId,
   method: 'get',
   success:(response)=>{
     if(response.status){
      Swal.fire({
position: 'top-center',
icon: 'success',
title: 'Your work has been saved',
showConfirmButton: false,
timer: 3000
   })
     }else if(response.notUser){  
      Swal.fire({
title: 'Please Login',
showDenyButton: true,
showCancelButton: true,
confirmButtonText: 'Login',
denyButtonText: `Don't Login`,
}).then((result) => {
/* Read more about isConfirmed, isDenied below */
if (result.isConfirmed) {
  Swal.fire('Login', '', 'success')
  location.href = '/login'
} else if (result.isDenied) {
  Swal.fire('Do not Login', '', 'info')
}
})
  }else if(response.wishList){
    Swal.fire({
    position: 'top-center',
    icon: 'success ',
     title: 'All Ready WishList Product',
showConfirmButton: false,
timer: 3000
   })
  }
   } 
  })
  }
</script>








</body>
</html>