<!DOCTYPE html>
<html lang="en">


<%- include('../inclueds/head.ejs'); %>

<body>

<div class="preloader">
<div class="preloader-inner">
<div class="preloader-icon">
<span></span>
<span></span>
</div>
</div>
</div>
<%- include('../inclueds/navbar.ejs'); %>

<div class="breadcrumbs">
<div class="container">
<div class="row">
<div class="col-12">
<div class="bread-inner">
<ul class="bread-list">
<li><a href="/">Home<i class="ti-arrow-right"></i></a></li>
<li class="active"><a href="#">Shop Single</a></li>
</ul>
</div>
</div>
</div>
</div>
</div>


<section class="shop single section">
<div class="container">
<div class="row">
<div class="col-12">
<div class="row">
<div class="col-lg-5 col-12">

<div class="product-gallery">

<div class="flexslider-thumbnails">
<ul class="slides">
<li data-thumb="/img/product/<%-product.moreImage[0] %>" rel="adjustX:10, adjustY:">
<img src="/img/product/<%-product.moreImage[0] %>" alt="#">
</li>
<li data-thumb="/img/product/<%-product.moreImage[1] %>" rel="adjustX:10, adjustY:">
<img src="/img/product/<%-product.moreImage[1] %>" alt="#">
</li>
<li data-thumb="/img/product/<%-product.moreImage[2] %>" rel="adjustX:10, adjustY:">
<img src="/img/product/<%-product.moreImage[2] %>" alt="#">
</li>
</ul>
</div>
</div>

</div>
<div class="col-lg-7 col-12">
<div class="product-des">
<div class="short">
<h4><%-product.Name %></h4>
<p class="price"><span class="discount"><%-product.Price %></span><s><%-product.Discount %></s> </p>
<p class="description"><%-product.Discription %></p>
</div>
<div class="product-buy">
<div class="quantity">
</div>
<div class="add-to-cart">
<a  onclick="addToCart('<%=product.id %>')" class="btn">Add to cart</a>
<a onclick="wishList('<%=product.id %>')" class="btn min"><i class="far fa-heart"></i></a>
</div>
<div class="single-product-info">
<p>Category :<a href="#"><%-product.Category %></a></p>
<p>Brand :<a href="#"><%-product.Brand %></a></p>
<p>Availability : <span><%-product.Stock %> Products In Stock</span> </p>
<!-- <p>Sold By :<a href="#">Abe Store</a></p> -->
</div>
</div>

</div>
</div>
</div>
<div class="row">
<div class="col-12">
<div class="product-info">

    
</div>
</div>
</div>
</div>
</div>
 </div>
</section>

<%- include('../inclueds/footer.ejs'); %>


<%- include('../inclueds/end.ejs'); %>


</body>
</html>