<!DOCTYPE html>
<html lang="en">

    <%- include('../inclueds/head.ejs'); %>
<body>

    <%- include('../inclueds/navbar.ejs'); %>

<div class="breadcrumbs">
<div class="container">
<div class="row">
<div class="col-12">
<div class="bread-inner">
<ul class="bread-list">
<li><a href="/">Home<i class="ti-arrow-right"></i></a></li>
<li class="active"><a href="#">Shop Grid</a></li>
</ul>
</div>
</div>
</div>
</div>
</div>



<section class="product-area shop-sidebar shop section">
<div class="container">
<div class="row">
<div class="col-lg-3 col-md-4 col-12">
<div class="shop-sidebar">

<div class="single-widget category">
<h3 class="title">Categories</h3>
<ul class="categor-list">
  <li><a href="/shop">All <span>([])</span></a></li>
  <% category.forEach(category=> { %>
<li><a href="/categoryfilter/<%=category.category %>"><%-category.category %> <span>([])</span></a></li>
<% }); %>
</ul>
</div>

</div>
</div>
<div class="col-lg-9 col-md-8 col-12">

<div class="shop-top">
<div class="row">
<div class="col-lg-2 filter-single">
<div class="filter-content">
<div class="my-auto filter-title">Show :</div>
<select>
<option selected="selected">10</option>
<option>20</option>
<option>30</option>
<option>50</option>
<option>100</option>
</select>
</div>
</div>
<div class="col-lg-8 filter-single">
<div class="filter-content">
<div class="my-auto filter-title">Sort By :</div>
<select>
<option selected="selected">Latest</option>
<option>Latest</option>
<option>Trending</option>
<option>Popular</option>
<option>Price Hight To Low</option>
<option>Price Low To High</option>
</select>
</div>
</div>
</div>

</div>
<div class="row">

<!--========= card ============ -->

<% product.forEach(product=> { %>

<div class="col-lg-4 col-md-6 col-12 mt-4">
<div class="single-product">
<div class="product-img">
<a href="/shopsingle/<%=product.id %>">
<img class="product-img" src="/img/product/<%-product. moreImage[0] %>" alt="#">
<span class="out-of-stock">New</span>
</a>
<div class="button-head">
<div class="product-action">
<a onclick="wishList('<%=product.id %>')"><i class="far fa-heart"></i><span>Add to Wishlist</span></a>
</div>
</div>
</div>
<div class="product-content">
<h3><a href="/shopsingle/<%=product.id %>"><%-product.Name %></a></h3>
<div class="product-rate">
<i class="fas fa-star"></i>
<i class="fas fa-star"></i>
<i class="fas fa-star"></i>
<i class="fas fa-star"></i>
<i class="far fa-star"></i>
</div>
<div class="d-flex justify-content-between">
<div class="product-price">
<span class="old"><%-product.Discount %></span>
<span><%-product.Price %></span>
</div>
<button class="product-cart-btn"  type="button"><a onclick="addToCart('<%=product.id %>')"><i class="fal fa-shopping-cart"></i></a></button>
</div>
</div>
</div>
</div>

<% }); %>
<!--========= card end============ -->

</div>
<div class="col-12">



</div>
</div>
</div>
</div>
</section>
<%- include('../inclueds/footer.ejs'); %>
<%- include('../inclueds/end.ejs'); %>
</body>
</html>