<!DOCTYPE html>
<html lang="en">


<%- include('../inclueds/head.ejs'); %>

<body>

<div class="preloader">
<div class="preloader-inner">
<div class="preloader-icon">
<span></span>
<span></span>
</div>
</div>
</div>
<%- include('../inclueds/navbar.ejs'); %>

<div class="breadcrumbs">
<div class="container">
<div class="row">
<div class="col-12">
<div class="bread-inner">
<ul class="bread-list">
<li><a href="index.html">Home<i class="ti-arrow-right"></i></a></li>
<li class="active"><a href="#">Shop Single</a></li>
</ul>
</div>
</div>
</div>
</div>
</div>


<section class="shop single section">
<div class="container">
<div class="row">
<div class="col-12">
<div class="row">
<div class="col-lg-5 col-12">

<div class="product-gallery">

<div class="flexslider-thumbnails">
<ul class="slides">
<li data-thumb="/img/product/<%-product.moreImage[0] %>" rel="adjustX:10, adjustY:">
<img src="/img/product/<%-product.moreImage[0] %>" alt="#">
</li>
<li data-thumb="/img/product/<%-product.moreImage[1] %>" rel="adjustX:10, adjustY:">
<img src="/img/product/<%-product.moreImage[1] %>" alt="#">
</li>
<li data-thumb="/img/product/<%-product.moreImage[2] %>" rel="adjustX:10, adjustY:">
<img src="/img/product/<%-product.moreImage[2] %>" alt="#">
</li>
</ul>
</div>
</div>

</div>
<div class="col-lg-7 col-12">
<div class="product-des">

<div class="short">
<h4><%-product.Name %></h4>
<div class="rating-main">
<ul class="rating">
<li><i class="fas fa-star"></i></li>
<li><i class="fas fa-star"></i></li>
<li><i class="fas fa-star"></i></li>
<li><i class="fas fa-star"></i></li>
<li><i class="fal fa-star"></i></li>
</ul>
<a href="#" class="total-review">(80) Review</a>
</div>
<p class="price"><span class="discount"><%-product.Price %></span><s><%-product.Discount %></s> </p>
<p class="description"><%-product.Discription %></p>
</div>


<div class="color">
<h4> Color</h4>
<ul>
<li><a href="#" class="one"><i class="ti-check"></i></a></li>
<li><a href="#" class="two"><i class="ti-check"></i></a></li>
<li><a href="#" class="three"><i class="ti-check"></i></a></li>
<li><a href="#" class="four"><i class="ti-check"></i></a></li>
</ul>
</div>


<div class="size">
<h4>Size</h4>
<ul>
<li><a href="#" class="one">S</a></li>
<li><a href="#" class="two">M</a></li>
<li><a href="#" class="three">L</a></li>
<li><a href="#" class="four">XL</a></li>
<li><a href="#" class="four">XXL</a></li>
</ul>
 </div>


<div class="product-buy">
<div class="quantity">
<h6>Quantity :</h6>

<div class="input-group">
<div class="button minus">
<button type="button" class="btn btn-primary btn-number" data-type="minus" data-field="quant[1]">
<i class="fas fa-minus"></i>
</button>
</div>
<input type="text" name="quant[1]" class="input-number" data-min="1" data-max="1000" value="1">
<div class="button plus">
<button type="button" class="btn btn-primary btn-number" data-type="plus" data-field="quant[1]">
<i class="fas fa-plus"></i>
</button>
</div>
</div>

</div>
<div class="add-to-cart">
<a  onclick="addToCart('<%=product.id %>')" class="btn">Add to cart</a>
<a href="#" class="btn min"><i class="far fa-heart"></i></a>
<a href="#" class="btn min"><i class="far fa-exchange"></i></a>
</div>
<div class="single-product-info">
<p>Category :<a href="#"><%-product.Category %></a></p>
<p>Brand :<a href="#"><%-product.Brand %></a></p>
<p>Availability : <span><%-product.Stock %>Products In Stock</span> </p>
<!-- <p>Sold By :<a href="#">Abe Store</a></p> -->
</div>
</div>

</div>
</div>
</div>
<div class="row">
<div class="col-12">
<div class="product-info">

    
</div>
</div>
</div>
</div>
</div>
 </div>
</section>

<%- include('../inclueds/footer.ejs'); %>


<%- include('../inclueds/end.ejs'); %>

<script>
    const addToCart  =(productId)=>{
    $.ajax({
     url:'/cart/'+productId,
     method: 'get',
     success:(response)=>{
       if(response.status){
        Swal.fire({
  position: 'top-end',
  icon: 'success',
  title: 'Your work has been saved',
  showConfirmButton: false,
  timer: 1500
     })
       }else if(response.notUser){  
        Swal.fire({
  title: 'Please Login',
  showDenyButton: true,
  showCancelButton: true,
  confirmButtonText: 'Login',
  denyButtonText: `Don't Login`,
}).then((result) => {
  /* Read more about isConfirmed, isDenied below */
  if (result.isConfirmed) {
    Swal.fire('Login', '', 'success')
    location.href = '/login'
  } else if (result.isDenied) {
    Swal.fire('Do not Login', '', 'info')
  }
})
    }
     } 
    })
    }
 </script>

</body>
</html>