<!DOCTYPE html>
<html lang="en">
    <%- include('../inclueds/head.ejs'); %>
<body>

<div class="preloader">
<div class="preloader-inner">
<div class="preloader-icon">
<span></span>
<span></span>
</div>
</div>
</div>

<%- include('../inclueds/navbar.ejs'); %>


<div class="breadcrumbs">
<div class="container">
<div class="row">
<div class="col-12">
<div class="bread-inner">
<ul class="bread-list">
<li><a href="index.html">Home<i class="ti-arrow-right"></i></a></li>
<li class="active"><a href="#">My Wishlist</a></li>
</ul>
</div>
</div>
</div>
</div>
</div>


<section class="shop section">
<div class="container">
<div class="row">
<div class="col-lg-3 mb-4">
<div class="account-sidebar">
<div class="sidebar-list">
<a href="order-list.html" class="active"><i class="far fa-shopping-bag"></i> Orders <span></span></a>
</div>
<h6 class="/Profile">PROFILE SETTINGS</h6>
<div class="sidebar-list">
<a href="/Profile"><i class="far fa-user"></i> Profile Info</a>
<a href="address-list.html"><i class="far fa-map-marker-alt"></i> Addresses <span></span></a>
<a href="payment-method.html"><i class="far fa-credit-card"></i> Payment Methods <span></span></a>
</div>
</div>
</div>
<div class="col-lg-9">
<div class="account-content">
<h4 class="account-content-title"><i class="far fa-heart"></i> My Wishlist</h4>
<div class="account-content-table">
<div class="row">
<% wishData.forEach(wishData=> { %>

<div class="col-lg-4 col-md-6 col-12 mt-4">
<div class="single-product bg-white">
<div class="product-img">
<a href="/deletewishlist/<%=wishData.arrayId %>"><i class="fal fa-times"></i></a>
<a href="/shopsingle/<%=wishData.ProductId.id %>">
<img class="product-img" src="/img/product/<%=wishData.ProductId.moreImage[0] %>" alt="#">
<span class="out-of-stock">New</span>
</a>
<div class="button-head">
<div class="product-action">
</div>
</div>
</div>
<div class="product-content">
<h3><a href="/shopsingle/<%=wishData.ProductId.id %>"><%-wishData.ProductId.Name %></a></h3>
<div class="d-flex justify-content-between">
<div class="product-price">
<span class="old"><%-wishData.ProductId.Discount %></span>
<span><%-wishData.ProductId.Price %></span>
</div>
<button onclick="addToCart('<%=wishData.ProductId.id %>')" class="product-cart-btn" type="button"><i class="fal fa-shopping-cart"></i></button>
</div>
</div>
</div>
</div>

<% }); %>


</div>
<div class="col-12 mt-5">
<div class="pagination center">
<ul class="pagination-list">
<li><a href="#"><i class="ti-arrow-left"></i></a></li>
<li><a href="#">1</a></li>
<li class="active"><a href="#">2</a></li>
<li><a href="#">3</a></li>
<li><a href="#"><i class="ti-arrow-right"></i></a></li>
</ul>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</section>

<%- include('../inclueds/footer.ejs'); %>

<%- include('../inclueds/end.ejs'); %>

</body>
</html>